{
  "endOfLine": "lf",
  "tabWidth": 2,
  "printWidth": 95,
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleQuote": false,
  "trailingComma": "none",
  "semi": true
}
