services:
  # app:
  #   build: ./backend
  #   container_name: app_container
  #   ports:
  #     - '3000:3000'
  #   environment:
  #     - NODE_ENV=development
  #     - DB_HOST=db
  #     - DB_PORT=3306
  #     - DB_USER=${DB_USER}
  #     - DB_PASSWORD=${DB_PASSWORD}
  #     - DB_NAME=${DB_NAME}
  #   volumes:
  #     - ./backend:/app
  #     - /app/node_modules
  #   depends_on:
  #     - db

  flutter:
    build: ./frontend
    container_name: flutter_container
    working_dir: /app
    volumes:
      - ./frontend:/app
    ports:
      - '8080:8080'  # Expondo a porta para o Flutter Web
    command: flutter run -d web-server --web-port 8080 --web-hostname 0.0.0.0

#   db:
#     image: mysql:8.0
#     container_name: db_container
#     environment:
#       MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
#       MYSQL_DATABASE: ${DB_NAME}
#     ports:
#       - '3306:3306'
#     volumes:
#       - db_data:/var/lib/mysql

# volumes:
#   db_data:
